body {
    background:   #ffb3b3;
    color:        #000000;
}

#page-title {
    margin: auto;
    text-align: center;
}
#copyright {
    margin: auto;
    text-align: center;
}        
/*---------------------------------------*/
/*- (15) Sansita with Open Sans         -*/ 
/*---------------------------------------*/
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 1px;
    }

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1px;
    }

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1;
    letter-spacing: 1px;
    }

#greetings {
    text-align: left;
    }

.photo {
    margin: auto;
    margin-bottom: 25px;
}

img {
    width:  100%;
    border-radius: 50%;
}
p {
    clear:  both;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 1.50;
    letter-spacing: 1px; 
    }         
