body {
    background:   #ffb3b3;
    color:        #000000;
}

#page-title {
    margin: auto;
    text-align: center;
}
#copyright {
    margin: auto;
    text-align: center;
}        
/*---------------------------------------*/
/*- (15) Sansita with Open Sans         -*/ 
/*---------------------------------------*/
h1 {
    font-family: 'Sansita', sans-serif;
    font-weight: 700;
    line-height: 46px;
    font-size: 36px;
    }
h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 2px;
    }
h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 12px;
    letter-spacing: 1px;
    }

#greetings {
    text-align: left;
    }

.photo {
    margin: auto;
    margin-bottom: 25px;
}

img {
    width:  100%;
    border-radius: 50%;
}
p {
    clear:  both;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 23px; 
    }         
